.arquivo-obrigatorio {
    opacity: 1;
    /* Totalmente visível */
    pointer-events: auto;
    /* Habilita interações */
}

.arquivo-nao-obrigatorio {
    opacity: 0.5;
    /* Meio transparente */
    pointer-events: none;
    /* Desabilita interações */
}
