:root {
    --cabecalho-background:  linear-gradient(to right,  #00569b,  #0072ce);
    --dark-cabecalho-background: linear-gradient(360deg, #080a0e 30%, rgb(71 77 81) 100%, rgb(100 104 106) 10%);
}

/*@media (prefers-color-scheme: dark) {
    .cabecalho { /* Gradiente Fundo dark 
        background: var(--dark-cabecalho-background)
    }
}

@media (prefers-color-scheme: light) {
    .cabecalho {
        background: linear-gradient(90deg, #05113c 25%, rgb(4 132 196) 55%, rgb(219 233 249 / 52%) 100%);
    }
} */

body.original .cabecalho {
    background: linear-gradient(90deg, #05113c 25%, rgb(4 132 196) 55%, rgb(219 233 249 / 52%) 100%);
  }
  
  body.dark .cabecalho {
    background: var(--dark-cabecalho-background)
  }
  
  body.laranja .cabecalho {
    background: linear-gradient(90deg, #FF5601 25%, #FFAA01 55%, rgb(219 233 249 / 52%) 100%);
  }
  
  body.verde .cabecalho {
    background: linear-gradient(90deg, #509A31 25%, #93C01F 55%, rgb(219 233 249 / 52%) 100%);
  }