.cartao {
    margin:1%;
    margin-bottom: 2%;
    border-radius:10px;
    font-size: 0.8rem;
    box-shadow: 2px 2px 2px #32383d55;
}

.cartao-titulo {
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    padding: 1%;
    padding-left: 3%;
    font-weight: bold;    
    background-color: #EDF0F3;
    color: #32383d;
    font-size: 0.9rem;
}

.cartao-corpo {
    padding: 3%;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    background-color: #ffffff;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}



/* @media (prefers-color-scheme: dark) { */

body.dark .cartao {
        margin-top: 1%;
        box-shadow: 2px 2px 2px var(--fundo-escuro);
        background-color: #40474d;
    }

    body.dark .cartao-titulo {
        background-color: #32383d;
        color: #ffffff;
    }

    body.dark .cartao-corpo {
        background-color: #40474d;
    }
/* } */




