.detalhamento-cartao {
    margin-bottom: 2%;
    border-radius:10px;
    font-size: 0.8rem;
    box-shadow: 2px 2px 2px #32383d55;
}

.detalhamento-cartao-titulo {
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    padding: 1%;
    font-weight: bold;    
    background-color: #EDF0F3;
    color: #32383d;
}

.detalhamento-cartao-corpo {
    padding: 3%;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    background-color: #ffffff;
}

.detalhamento-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* @media (prefers-color-scheme: dark) { */

    body.dark .detalhamento-cartao {
        margin-top: 1%;
        box-shadow: 2px 2px 2px var(--fundo-escuro);
        background-color: #40474d;
    }

    body.dark .detalhamento-cartao-titulo {
        background-color: #32383d;
        color: #ffffff;
    }

    body.dark .detalhamento-cartao-corpo {
        background-color: #40474d;
    }
/* } */




