.label-editar-input {
    /* font-weight: 700; */
    font-size: 1.05rem;
    padding-left: 2%;
    white-space: pre-wrap;
}


.label-editar {
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 0.5em;
    padding: 0.5em;
}