:root {
    --botao-login-dark:  linear-gradient(to right, #2b2c30, #465158);
}

body.original .login {
    button {
        background: #0070cb !important;
    }
    h1 {
        color:#0070cb !important;
    }
}
  
  body.dark .login {
    .login h1 {
     
        color: #fff !important;
        font-size: 1.8rem;
       -webkit-background-clip: text;
       -webkit-text-fill-color: #fff;
      }

      .login button {
        background: var(--botao-login-dark) !important;
    }
}
  
  body.laranja .login {
    button {
        background: #FF5601 !important;
    }
    h1 {
        color:#FF5601 !important;
    }
}
  
  body.verde .login {
    button {
        background: #509A31 !important;
    }
    h1 {
        color:#509A31 !important;
    }
  }

.login {
    margin-right: 30%;
    margin-left: 30%
}

.login button {
    border: none;
    margin: 5% 2% 5% 3%;
    transition: .5s;
    border-radius: 5px;
    padding: .7rem 5rem;
    font-weight: 500;
   /*  background: #0070cb !important; */
    color: #fff !important;
}

.login button:hover {
    transition: .5s;
    transform: scale(1.1);
}
.login .orientacoes {
    font-size: .8rem;
    padding: 2%;
}
.login .recuperar-senha {
    text-align: right;
    font-size: .9rem;
    color: var(--primaria);
    padding: 3%}
.login img {
    padding: 3%;
    width: 30%;
}
.login h1 {
    font-size: 1.8rem;
    padding: 0;
    margin: .2rem 0;
    font-weight: 500;
   /*  color:#0070cb !important; */
}
.login .campo {
    padding: 2%
}

.retorno-login {
    padding: 2%;
    text-align: center;
    font-size: 1rem;
    color: red;
}


@media only screen and (max-width: 1400px) {
    .login {
        margin-right: 20%;
        margin-left: 20%
    }

}
@media only screen and (max-width: 600px) {
    .login {
        margin-right: 0%;
        margin-left: 0%
    }
    
    .login button {
        margin-left: 2%
    }
}