.menu-lateral button {
    padding: 8% 15%;
    margin: 5%
}

.p-menu.p-menu-overlay {
    z-index: 5000 !important;
}

.p-menu .p-menuitem>.p-menuitem-content .p-menuitem-link .p-menuitem-text {

    font-size: 0.9rem !important;
}

.p-menu .p-menuitem>.p-menuitem-content .p-menuitem-link {
    padding: .75rem .75rem;
}

/* @media (prefers-color-scheme: dark) { */
      
    /* Estilizar menus suspensos (submenus) */
    body.dark .p-menu {
        background-color: #3c4043 !important; /* Fundo cinza escuro para submenus */
        color: #ffffff !important;
    }

    body.dark .p-menuitem-link:hover {
        background-color: #4c5256 !important; /* Fundo cinza mais claro ao passar o mouse */
        color: #ffffff !important;
        border-radius: 7px;
        margin-right: 0.3rem;
    }

    body.dark .p-menu .p-menuitem:not(.p-highlight):not(.p-disabled) > .p-menuitem-content:hover {
        background: rgb(50 56 60) !important;
    }
/* } */

body.laranja .p-menu {
    background-color: #3c4043 !important; /* Fundo cinza escuro para submenus */
    color: #ffffff !important;
}

body.laranja .p-menuitem-link:hover {
    background-color: #4c5256 !important; /* Fundo cinza mais claro ao passar o mouse */
    color: #ffffff !important;
    border-radius: 7px;
    margin-right: 0.3rem;
}

body.laranja .p-menu .p-menuitem:not(.p-highlight):not(.p-disabled) > .p-menuitem-content:hover {
    background: rgb(50 56 60) !important;
}