pre {
  white-space: pre-wrap; /* Permite quebras de linha */
  word-wrap: break-word; /* Quebra palavras longas */
}

.highlight {
  background-color: #000000; /* Fundo preto absoluto */
  border: 1px solid #222; /* Borda discreta */
  border-radius: 4px;
  padding: 16px;
  font-family: monospace;
  font-size: 14px;
  position: relative;
  color: #ffffff; /* Texto padrão em branco */
}

.highlight .key {
  color: #00ffff; /* Ciano fluorescente para chaves */
  font-weight: bold;
}

.highlight .string {
  color: #00ff00; /* Verde fluorescente para strings */
}

.highlight .number {
  color: #ff00ff; /* Magenta fluorescente para números */
}

.highlight .boolean {
  color: #ff4500; /* Laranja fluorescente para booleanos */
}

.highlight .null {
  color: #ffff00; /* Amarelo fluorescente para null */
}

.copy-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  font-size: 12px;
  background-color: #00ff00; /* Verde fluorescente */
  color: #000000; /* Texto preto para contraste */
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
  opacity: 0.5;

}

.copy-button:hover {
  opacity: 1;

}

.toggle-button {
  padding: 5px 10px;
  font-size: 12px;
  background-color: #ff00ff; /* Magenta fluorescente */
  color: #000000; /* Texto preto para contraste */
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 5px;
  opacity: 0.7;
  

}

.toggle-button:hover {
  opacity: 1;

}
