:root {
    --dark-rodape-background: linear-gradient(360deg, #080a0e 20%, rgb(71 77 81) 90%, rgb(100 104 106) 100%);
}

/* @media (prefers-color-scheme: dark){
    .rodape {
        background: var(--dark-rodape-background);
        color: #fff;
    }
}

@media (prefers-color-scheme: light){
    .rodape {
        background-color: #05113C;
        color: #fff;
    }
} */

body.original .rodape {
    background-color: #05113C;
    color: #fff;
}
  
  body.dark .rodape {
    background: var(--dark-rodape-background)
}
  
  body.laranja .rodape {
    background-color: #FF5601;
    color: #fff;

}
  
  body.verde .rodape {
    background-color: #509A31;
    color: #fff;
  }