@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("./styles/global/login.css");
@import url("./styles/global/menu.css");
@import url("./styles/global/sobre.css");
@import url("./styles/global/usuario.css");
@import url("./styles/global/cabecalho.css");
@import url("./styles/global/rodape.css");
@import url("./styles/global/pre.css");
@import url("./styles/global/detalhamento-cartao.css");
@import url("./styles/global/cartao.css");
@import url("./styles/global/label-editar.css");
@import url("./styles/global/orientacoes.css");
@import url("./styles/global/arquivo.css");


/*************************************** Aplica estilos em comum ****************************************/
body {
    margin: 0;
    padding: 0;
    font-family: Rubik;
}

.rotulo-valor {
    font-weight: 600;
}

.mais {
    cursor: pointer;
}

h2 {
    margin-top: 1.5%;
    margin-bottom: 3%;
    margin-left: 1%;
}

small p {
    font-size: .8rem;
    color: #ff0404;
    font-weight: 700;
    background-color: #ff04040d;
    padding: 1%;
    border-radius: 3px;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    font-size: .8em;
    padding: .25%;
    margin: 0;
    /* color: transparent; */
}

h1 {
    font-size: 2em;
    font-weight: 100;
}

.p-button {
    border: 0px !important;
    border-radius: 5px !important;
    margin-bottom: 0.3rem !important;
}

.p-menubar {
    padding: 0 !important;
}

.p-accordion-header-text {
    /* Texto accordion bold */
    font-weight: 600;
}

.p-accordion .p-accordion-content {
    padding: 1.25rem;
    /* border: 1px solid #3d4448; */
    border-top: 0;
    border-radius: 0 0 6px 6px;
}

.p-tree-toggler,
.p-treetable-toggler,
.p-datepicker-next,
.p-datepicker-prev {
    display: inline-block;
}

.p-tree-toggler,
.p-treetable-toggler {
    width: 1.3rem;
    height: 1.4rem;
}

.p-datatable-header {
    padding: .2% !important;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.p-paginator {
    justify-content: center !important;
}

.p-paginator-bottom {
    padding: 2% !important;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.p-datatable .p-paginator-top,
.p-datatable .p-paginator-bottom {
    border-width: 0 0 0px 0;
    border-radius: 0;
}

.p-treenode-content,
.p-tree-toggler,
.p-link,
.p-treenode-label {
    padding: 0 !important;
    margin: 0 !important;
}

.p-treenode-label {
    font-size: .9rem !important;
}

.p-toolbar {
    padding: .5% !important;
}

.p-toolbar button {
    padding-top: 5% !important;
    padding-bottom: 5% !important;
}

.p-sortable-column,
.p-resizable-column,
tbody tr td {
    padding: .5% !important;
    margin: .25% !important;
}

.p-inputnumber-button {
    padding: .25% !important;
    margin: .25% !important;
}

.p-datatable .p-datatable-tbody>tr>td>div {
    min-height: 56px;
    position: relative;
    padding: 0.5% !important;
}

.principal {
    /* background-color: #fff; */
    margin-top: 5rem;
    border-radius: 10px;
    box-shadow: 0 .46875rem 2.1875rem rgba(4, 9, 20, .03), 0 .9375rem 1.40625rem rgba(4, 9, 20, .03), 0 .25rem .53125rem rgba(4, 9, 20, .05), 0 .125rem .1875rem rgba(4, 9, 20, .03) !important;
}


button {
    border-radius: 5px;
}

button:disabled {
    opacity: 0.65;
    cursor: not-allowed;
    /* Opcional: Indica que o botão não é clicável */
}

.acordeao {
    grid-template-columns: 5fr 1fr 1fr !important;
    gap: 1rem !important;
}

.p-component {
    font-size: 0.85rem !important;
}

.p-icon-field>.p-input-icon {
    top: 34% !important;
}

.p-icon-field-left>.p-input-icon:first-of-type {
    left: .55rem !important;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 0px solid rgba(0, 0, 0, .125) !important;
    border-radius: .5rem;
    padding: 1% 1% 1% 1%;
}

.formulario {
    display: grid !important;
    grid-template-columns: 1fr;
}


.input-mask-transparent {
    border: none;
    background-color: transparent;
}

.campo {
    display: grid;
    grid-template-columns: 1fr;
    /* padding: 1.5% .5% .5%; 
    border-bottom: 1px solid #f1f1f1 ;
    border-radius: 7px;*/
    margin: 0.5% 0;
}

.pergunta-sim-nao {
    display: flex;
    padding: 1.5% .5% .5%
}

.pergunta-sim-nao div {
    padding-right: 2%
}

.campo {
    padding-top: 2%;
    padding-bottom: 2%
}

.icon-status-piscante {
    animation: piscar-status 0.5s infinite;
}

@keyframes piscar-status {
    0% {
        opacity: 1;
    }

    50% {
        opacity: .5;
    }

    to {
        opacity: 1;
    }
}

.azul {
    color: #007baa;
}

.azul:hover {
    color: #007bff;
}

.azul-30 {
    color: #007baa30;
}

.azul-bg-30 {
    background-color: #007baa30;
}

.verde {
    color: #28a745;
}

.vermelho {
    color: #dc3545;
}

.laranja {
    color: #fd7e14dd;
}

.laranja:hover {
    color: #fd7e14FF;
}

.laranja-30 {
    color: #fd7e1430;
}

.laranja-bg-30 {
    background-color: #fd7e1430;
}



.negrito {
    font-weight: bold;
}

.dados-pessoais-status {
    padding-left: 5%;
    color: #fd7e14;
    font-weight: bold;
}


.colunas-1,
.colunas-2,
.colunas-3,
.colunas-4,
.colunas-5,
.colunas-6,
.colunas-7,
.colunas-8,
.colunas-80-20,
.colunas-70-30,
.colunas-60-40,
.colunas-50-50,
.colunas-40-60,
.colunas-30-70,
.colunas-20-80 {
    display: grid;
    gap: 1rem;
}

.colunas-1 {
    grid-template-columns: repeat(1, 1fr);
}

.colunas-2 {
    grid-template-columns: repeat(2, 1fr);
}

.colunas-3 {
    grid-template-columns: repeat(3, 1fr);
}

.colunas-4 {
    grid-template-columns: repeat(4, 1fr);
}

.colunas-5 {
    grid-template-columns: repeat(5, 1fr);
}

.colunas-6 {
    grid-template-columns: repeat(6, 1fr);
}

.colunas-7 {
    grid-template-columns: repeat(7, 1fr);
}

.colunas-8 {
    grid-template-columns: repeat(8, 1fr);
}

.colunas-80-20 {
    grid-template-columns: 70% 10%
}

.colunas-70-30 {
    grid-template-columns: 65% 25%
}

.colunas-60-40 {
    grid-template-columns: 55% 35%
}

.colunas-50-50 {
    grid-template-columns: 45% 45%
}

.colunas-40-60 {
    grid-template-columns: 35% 55%
}

.colunas-30-70 {
    grid-template-columns: 25% 65%
}

.colunas-20-80 {
    grid-template-columns: 15% 75%
}

.arvore-conteudo {
    display: grid;
    grid-template-columns: 40% 60%
}

ul {
    margin-top: 0;
    margin-bottom: 0rem;
    padding-left: 0rem;
}


/******************* Aplica estilos apenas quando o sistema estiver em modo light ************************************************/

@media (prefers-color-scheme: light) {
    
    html {
        height: 100% !important;
        background: url(https://primefaces.org/cdn/primereact/images/landing/wave-light-alt-gray.svg) #f7f9fa !important;
        background-repeat: no-repeat !important;
        background-position: center bottom !important;
        background-size: cover !important;
    }

    body {
        color: #1a1a1a !important;
    }

    .p-button-label,
    .p-datepicker-prev {
        color: #fff !important;
    }
    
    .p-accordion .p-accordion-tab {
        box-shadow: 0 3px 1px -2px rgb(0 0 0 / 0%), 0 2px 2px 0 rgb(0 0 0 / 7%), 0 1px 5px 0 rgb(0 0 0 / 0%);
        margin-bottom: 0.5rem !important;
    }
    
    .campo:hover {
        border-radius: 5px;
        background-color: #f7f9fa;
    }

    table tr:nth-child(odd) {
        background-color: #f4f5f7;
    }

    table tr:hover {
        background-color: #304d6922;
    }

    .principal {
        padding: 2% !important;
    }

    .p-card .p-card-body {
        padding: 1rem !important;
        background: #f8f8f8 !important;
        border-radius: 5px !important;
        min-height: 271px !important;
    }

    .p-card {
        background: #ffffff !important;
        color: rgba(0, 0, 0, 0.87) !important;
        box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12) !important;
        border-radius: 5px !important;
        min-height: 267px !important;
    }
    
    .p-button.p-button-outlined {
        color: #ffffff !important;

    }
    
    .menu-button {
        background: var(--cabecalho-background) !important;
        border: 0px !important;
        border-radius: 5px !important;
        color: #fff !important;
    }

    .p-button {
        background: var(--cabecalho-background) !important;
    }

    .p-accordion .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link {
        border-color: transparent;
        color: rgba(0, 0, 0, 0.87);
        border-radius: 4px !important;
        background: #f1f5f9 !important;
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-clip: border-box;
        border: 0px solid rgba(0, 0, 0, .125) !important;
        border-radius: .5rem;
        padding: 1% 1% 1% 1%;
    }
    
}

/************************** Aplica estilos apenas quando o sistema estiver em modo dark **********************************************/

/* @media (prefers-color-scheme: dark) { */

    /* Define o fundo cinza para a aplicação no modo dark */
    body.dark {
        background-color: #3c4043;
        /* Cinza escuro */
        color: #fff;
        /* Cor do texto */
    }

    body.dark .p-card .p-card-body {
        padding: 1rem !important;
        background: #363d40 !important;
        border-radius: 5px !important;
        min-height: 271px !important;
    }

    body.dark .principal {
        background-color: #2a2e30;
        color: #fff;
        padding: 2%;
    }

    body.dark .campo:hover {
        border-radius: 5px;
        background-color: #2a2e34;
    }

    /* Estilos adicionais para personalizar componentes PrimeReact */
    body.dark .p-component {
        background-color: #3d4448 !important;
        /* Fundo cinza escuro */
        color: #ffffff !important;
        /* Cor do texto em branco */
    }

    body.dark .text-900 {
        /* Cor do texto do alert azul */
        color: #075593 !important;
    }

    body.dark .p-toast .p-toast-message {
        margin: 0 0 0 0 !important;
    }

    body.dark .p-toast .p-toast-message.p-toast-message-info {
        background: #e7f7ff !important;
    }

    /* Personalizar diálogos, menus e cards */
    body.dark .card {
        background-color: #32383c !important;
        color: #ffffff !important;
    }

    body.dark .p-accordion.p-component {
        background-color: #3d4448;
    }

    body.dark .p-accordion .p-accordion-header .p-accordion-header-link {
        background: #2a2e34;
        border: 1px solid #3d4448;
        color: #ffffff !important;
        /* Cor do texto no link do header */
        border-radius: 7px;
        font-weight: 500;
    }

    body.dark .p-accordion .p-accordion-header:hover {
        background-color: #3d4448 !important;
        /* Fundo cinza mais claro ao passar o mouse */
    }

    /* Personalizar conteúdo do AccordionTab */
    body.dark .p-accordion .p-accordion-content {
        border: 1px solid #3d4448 !important;
        background-color: #2a2e34 !important;
        /* Fundo cinza escuro */
        color: #ffffff !important;
    }

    /* Personalizar DataTable */
    body.dark .p-datatable {
        background-color: #2e2e2e !important;
        /* Fundo cinza escuro para a tabela */
    }

    body.dark .p-datatable-header,
    .p-datatable-thead>tr>th {
        background-color: #32383c !important;
        /* Fundo cinza médio para o cabeçalho da tabela */
        color: #ffffff !important;
    }

    body.dark .p-dialog .p-dialog-header {
        background: #1c1f23 !important;
        /* Topo do dialog de análise */
    }

    body.dark .p-dialog .p-dialog-content {
        background: #222629 !important;
        /* Corpo do dialog de análise */
        padding: 1.5rem !important;
    }

    body.dark .p-dialog .p-dialog-footer {
        background: #1c1f23 !important;
        /* Base do dialog de análise */
    }


    body.dark table tr:nth-child(odd) {
        background-color: #393c3e !important;
    }


    body.dark table tr:hover {
        background-color: #17181e38 !important
    }

    /* Personalizar o MenuBar */
    body.dark .p-menubar {
        background-color: #3d4448 !important;
        color: #ffffff !important;
        border-radius: 7px;
        border: none;
    }

    body.dark .p-menubar-root-list>.p-menuitem>.p-menuitem-link {
        /*background-color: #32383c !important;*/
        color: #ffffff !important;
        border-radius: 7px;
        margin-right: 0.3rem;
    }

    body.dark .p-menubar-root-list>.p-menuitem>.p-menuitem-link:hover {
        background-color: #555555 !important;
        /* Fundo cinza mais claro ao passar o mouse */
        color: #ffffff !important;
        border-radius: 7px;
        margin-right: 0.3rem;
    }


    /* Dropdown Select */
    body.dark .p-dropdown-panel .p-dropdown-header {
        background: #2a2e34;
    }

    /* Topbar Upload file */
    body.dark .p-fileupload .p-fileupload-buttonbar {
        background: #2a2e34;
    }

    body.dark .p-fileupload .p-fileupload-content {
        background: #3d4448;
    }

    body.dark.input-mask-transparent {
        background-color: transparent !important;
    }
/* } */

@media only screen and (max-width: 600px) {
    
    body {
        min-width: 200px !;
        width: 100%
    }
    
    .principal {
        padding: 5%;
    }
    
    .card {
        padding: 3% 3% 3% 3%;
    }
    
}

@media screen and (max-width: 800px) {
    
    .colunas-1,
    .colunas-2,
    .colunas-3,
    .colunas-4,
    .colunas-5,
    .colunas-6,
    .colunas-7,
    .colunas-8,
    .colunas-80-20,
    .colunas-70-30,
    .colunas-60-40,
    .colunas-50-50,
    .colunas-40-60,
    .colunas-30-70,
    .colunas-20-80 {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .pesquisar {
        display: grid;
        grid-template-columns: 40% 40%
    }
    
}

@media only screen and (max-width: 1200px) {

    .colunas-4,
    .colunas-5,
    .colunas-6,
    .colunas-7,
    .colunas-8 {
        grid-template-columns: repeat(2, 1fr);
    }
    
    
}